<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.fields_for(:tasks) do |task_form|%>
        <%=render "task", :f => task_form %>
     <%end%>
     <p><%=add_child_link("New Task", :tasks)%></p>
     <%=new_child_fields_template(f, :tasks)%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%=content_for "tasks_fields_template"%>